$primary-color: #78350f;
$secondary-color: #7c6c62;
$bg-color: #fbf3d5;
$border-radius: 8px;

body {
  font-family: "Roboto", sans-serif;
}

/* Navbar */
.navbar-brand {
  font-weight: 700;
  color: $primary-color;
  font-size: 32px;
}

.navbar-nav .nav-link {
  color: $primary-color;
  font-size: 16px;
  font-weight: 500;
}

.btn-outline-primary {
  border-color: $primary-color;
  color: $primary-color;
  font-size: 16px;
  font-weight: 500;

  &:focus,
  &:hover {
    background-color: $primary-color;
    color: #fff;
    outline: none;
    box-shadow: none;
    border-color: $primary-color;
  }
}
.navbar-toggler {
  border: none;
}
